*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position:center ;
    height: 500px;
    width: auto;
    background-blend-mode: darken;
}
li{
    list-style: none;
}
a{
   text-decoration: solid;
   color: rgb(246, 244, 244);
   font-size: 1.2rem;
}
a:hover{
    color: aqua;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    position: relative;
    top: auto;
    left: auto;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .links .active a{
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    font-weight: bold;
}
.navbar .toggle-btn{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.actionbutton{
    background-color: rgb(26, 26, 27);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.actionbutton:hover{
    scale: 1.1;
}
/*Drop down menu*/
.dropdownmenu{
    display: none;
    position: absolute;
    z-index: 1000;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
.dropdownmenu.open{
    height: 250px;
}
.dropdownmenu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownmenu .actionbutton{
    width: 50%;
    display: flex;
    justify-content: center;
}
/*Resposes of minimizing*/
@media(max-width:1100px){
    .navbar .links,
    .navbar .actionbutton{display: none;}
    .navbar .toggle-btn{display: block;}
    .dropdownmenu{display: block;}
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom: 1%;
    left: 0%;
    width: 100%;
    height: 19px;
    padding: 3px;
    font-size: 20px;
    color: #d90606;
}